/*------------- VARIABLES -----------------*/
:root {

  /*---------- Colors -----------*/
   /* Colors */
   --tag-pink: #E44ACF;
   --tag-blue: #43B0B4;
   --tag-ashpurple: #847FB2;
   --tag-purple: #B767B7;
   --title-color: #E44ACF;
   --subtitle-color: #D9D9D9;
   --caption-color: #847FB2;
   --description-color: #FFFFFF;
   --btn-color: purple;

   /* --------------Font Sizes------------------ */
  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --largest-font-size: 8rem;
  --biggest-font-size: 5rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 2rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.125rem;
  --large-font-size: 2rem;
  --semi-normal-font-size: 1.75rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.25rem;
  --smaller-font-size: 1rem;

  /*------------ Font weight ----------*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*-------------- Margins Bottom -------------*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-5: 5rem; 

}

/*-----------------Body--------------------*/
body {
    background-color: rgb(15, 15, 15);
    margin: 0;
    overflow-x: hidden;
}

/*----------------Navigation----------------------*/
.navBar{
  background-color: rgb(15, 15, 15);

}

.navBar a{
  float: left;
  color: white;
  padding: 0.875em 1em;
  text-decoration: none;
  font-size: 1.06em;
}

.navBar a:hover{
  background-color: rgb(15, 15, 15);
  color: rgb(187, 180, 255);
}

.navBar .icon{
  display: none;
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 750px){
  
  .navBar a:not(:first-child){
    display: none;
  }
  .navBar a.icon{
    display: block; float: right;
  }
  
  .navBar.responsive {
    position: relative;
  }
  .navBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .navBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .radial-gradient-1 {
    bottom: -2000px!important;
  }

  .radial-gradient-2 {
    bottom: -3000px!important;
  }

  .radial-gradient-3 {
    bottom: -4000px!important;
  }
}

.container {
  margin-bottom: var(--mb-5);
  margin-top: var(--mb-3);
}


/*----------------Introduction---------------*/

.intro {
  margin-top: 10%;
  justify-content: center;
  margin-bottom: 5%;
}

.bg-grad-anim {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: -400px;
  left: -15%;
  width: 200px;
  height: 400px;
  border-radius: 15rem;
  background: radial-gradient(77.73% 77.73% at 98.52% 96.25%,#f700ff 0,rgba(239, 76, 239, 0.29) 60.52%,rgba(91,216,216,0) 100%),radial-gradient(141.73% 105.23% at 50% -7.16%,#ff58e3 0,rgba(160,236,255,0) 60.73%,rgba(147,154,255,0) 100%),radial-gradient(112.27% 48.54% at 1.59% 50%,rgba(255, 73, 246, 0.5) 0,rgba(73,121,255,.09) 60.91%,rgba(216,237,255,0) 100%),linear-gradient(
153.07deg,#f377de 16.37%,rgba(103,237,255,0) 83.82%);
  background-blend-mode: normal,normal,normal,normal,normal,normal;
  filter: blur(49px) saturate(9);
  -webkit-animation: 8s linear .5s infinite fadeloop;
  animation: 8s linear .5s infinite fadeloop;
  
}

.bg-grad-anim-2 {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: -400px;
  right: 58%;
  width: 400px;
  height: 400px;
  border-radius: 20rem;
  background: radial-gradient(77.73% 77.73% at 98.52% 96.25%,#ff00b3 0,rgba(239, 76, 157, 0.29) 60.52%,rgba(91,216,216,0) 100%),radial-gradient(141.73% 105.23% at 50% -7.16%,#ff58bf 0,rgba(160,236,255,0) 60.73%,rgba(147,154,255,0) 100%),radial-gradient(112.27% 48.54% at 1.59% 50%,rgba(255, 73, 209, 0.5) 0,rgba(73,121,255,.09) 60.91%,rgba(216,237,255,0) 100%),linear-gradient(
153.07deg,#f377bf 16.37%,rgba(103,237,255,0) 83.82%);
  background-blend-mode: normal,normal,normal,normal,normal,normal;
  filter: blur(49px) saturate(9);
  -webkit-animation: 8s linear .5s infinite fadeloop2;
  animation: 8s linear .5s infinite fadeloop2;
  animation-delay: 12s;
}

@keyframes fadeloop {
  0%, 100% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  50% {
    opacity: .7;
    transform: scale(1.5) rotate(50deg);
  }
}

@keyframes fadeloop2 {
  0%, 100% {
    opacity: .4;
    transform: scale(1) rotate(0);
  }
  50% {
    opacity: .2;
    transform: scale(1.5) rotate(50deg);
  }
}

.intro:last-child {
  color: white;
}

.gradient-text {
  font-weight: var(--font-medium);
  
  background-color: purple;
  background-image: linear-gradient(-50deg, #e44acf, #f56fa3, #63c1e4); /* teal - #23d5ab*/
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.row:last-child {
    color: white;
}


.radial-gradient-1 {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: -850px;
  right: 10%;
  width: 600px;
  height: 500px;
  border-radius: 20rem;
  background: radial-gradient(ellipse, rgb(49, 2, 49) 20%, rgb(36, 1, 36) 40%, transparent 70%, rgb(15, 15, 15) 80%);
}

.radial-gradient-2 {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: -1300px;
  left: 10%;
  width: 600px;
  height: 500px;
  border-radius: 20rem;
  background: radial-gradient(ellipse, rgb(49, 2, 49) 20%, rgb(36, 1, 36) 40%, transparent 70%, rgb(15, 15, 15) 80%);
}

.radial-gradient-3 {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  bottom: -1850px;
  right: 30%;
  width: 600px;
  height: 500px;
  border-radius: 20rem;
  background: radial-gradient(ellipse, rgb(49, 2, 49) 20%, rgb(36, 1, 36) 40%, transparent 70%, rgb(15, 15, 15) 80%);
}

button, a {
    text-decoration: none;
    color: white;
}

button, a:hover {
  /* color:  rgb(187, 180, 255); */
  color: var(--tag-pink)
}

img {
  max-width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.intro-pic {
  height: 350px;
  width: 350px;
}

.box-container {
    display: flex;
  }
  .box {
    background-image: linear-gradient(purple, purple),
                      linear-gradient(purple, purple),
                      linear-gradient(purple, purple),
                      linear-gradient(purple, purple);
    background-repeat: no-repeat;
    background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom, left bottom, right top, right top, 4px 4px;
    
    height: auto;
    width: auto;
    margin: 20px;
    padding: 20px;
  }
  
  .gradient-border {
    background-image: linear-gradient(rgb(255, 37, 255), purple),
                      linear-gradient(to right, purple, rgb(255, 37, 255)),
                      linear-gradient(to bottom, purple, rgb(255, 37, 255)),
                      linear-gradient(to left, purple, rgb(255, 37, 255));
  }



  /*-------------Projects--------------*/

  section#projects {
    margin-top: 20vh;
    margin-bottom: 20vh;
  }

  h1.project-title {
    text-align: center;
    font-size: var(--largest-font-size);
  }

  /* Card Container */
  .card-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    /* margin: 5% 5% 5% 2%; */
    margin-top: 5%;
    margin-bottom: 5%;
    border: 0.0625rem solid white;
    /* 1px = 0.0625em */
    border-radius: 0.75rem;
    /* 12px = 0.75rem */
    box-shadow: 0.6em 0.6em rgb(67, 0, 67);
    /* 10px = 0.6em */
    padding: 3% 2% 2% 3%;   
  }
  
  /* Title */
  h3.project-title {
      color: var(--title-color);
      filter: drop-shadow(0.03em 0.03em #9d9d9d); 
      /* 1px = 0.06em */
      /* font-size: var(--biggest-font-size); */
      word-wrap: break-word;
      /* font-size: 4vw; */
      text-align: left;
      text-decoration: none;
  }

  /* Subtitle */
  h4.project-subtitle {
      color: var(--subtitle-color);
      /* font-style: italic; */
      font-size: var(--large-font-size);
      line-height: 0%;
  }

  /* Description */
  p.project-description {
      color: var(--description-color);
      font-size: var(--semi-normal-font-size);
  }

  /* Caption */
  h5.project-caption {
      font-size: var(--caption-font-size);
      color: var(--caption-color);
      /* font-style: italic; */
      line-height: 0%;
      margin-top: 0.6em;
      /* 10px = 0.6em */
      font-weight: var(--font-medium);
      font-family: Arial, Helvetica, sans-serif;
  }

  /* Tag Container */
  .tags {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; 
  }
  
  /* Tags Content */
  span.solid {
      border-style: solid;
      border: 0.1px solid white;
      border-radius: 0.8em;
      /* 12px = 0.8em */
      padding: 0.5em;
      /* 5px = 0.3em */
      margin: 0.19em;
      /* 3px = 0.19em */
      /* color: black; */
      color: white;
      font-weight: 500;
      filter: drop-shadow(0.1em 0.1em #414141);
      /* font-size: 0.9vw; */
      font-size: var(--small-font-size);
      
  }

  /*Button*/
  .btn-container {
      margin-top: 5%;
      border-radius: 0.8em;
      /* 12px = 0.8em */
      align-self: center;
  }

  .btn a {
      text-decoration: none;
      color: white;
  }

  .btn a:hover {
      color: var(--tag-pink);
  }

  /* Image */
  .project-img {
      max-width: 100%;
      height: auto; 
      object-fit: cover;
      align-self: center;
      margin-bottom: var(--mb-1-5);
  }

  /* Icons */
  .fas, .far {
      font-size: 0.8em;
      /* 12px = 0.8em */
      padding-right: 0.3em;
      /* 2px = 0.3em */
      color: inherit;
  }
  
  /*Contact*/

  .contact-title {
    text-align: center;
    font-size: var(--largest-font-size);
  }

  .contact {
    margin-top: 5%;
    color: white;
  }

  .choice, .typing {
    color: black;
  }

  input[type="submit"].button-primary {
    background-color: purple;
    border-color: rgb(187, 180, 255);
  }

  input[type="submit"].button-primary:hover {
    background-color: rgb(216, 4, 216);
    border-color: purple;
    color: black;
  }

  .break-container {
    /*position: relative;*/
    text-align: center;
    color: white;
    margin-top: 5%;
    background: linear-gradient(-50deg, #b60d9f, #e73c7e, #23a6d5); /* teal - #23d5ab*/
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 50vh;
  }
  
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

  .break-img {
    width: 100%;
    height: 150px;
  }

  .break-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


h3.subtitle {
  color: white;
}

.body-text {
  color: white;
  font-size: var(--semi-normal-font-size);
}

.sect-space {
  text-align: center;
  margin-bottom: 4%;
}

/*Footer*/

.p-dark {
	font-size: var(--normal-font-size);
	color: white;
	text-align: center;
}

form {
  margin-bottom: var(--mb-3);
}

footer {
	color: white;
	font-weight: 600;
	left: 0px;
	right: 0px;
	bottom: 0px;
	position: relative;
	width: 100%;
	overflow: hidden;
}

#footer-links {
	color: white;
	padding-right: 10px;
	font-size: var(--normal-font-size);
	text-decoration: none;
}

#footer-links:hover {
	/*box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.1), 0 6px 20px 0 rgba(255, 255, 255, 0.1);*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#p-trademark {
	color: white;
	text-align: right;
}

.footer-center {
  text-align: center;
  bottom: 0%;
}

/*social buttons*/
.fab {
  padding: 10px;
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin {
  	color: white;
	font-size: 20px;
}

.fa-github {
  	color: white;
	font-size: 20px;
 }

 #preloader {
   background: #000 url("/images/stars.gif") no-repeat center center;
   background-size: 15%;
   height: 100vh;
   width: 100%;
   position: fixed;
   z-index: 100;
 }

 video {
  width: 100%;
  max-height: 100%;
 }

 /* max-width: no greater than */
 @media (max-width: 750px) {
  html, body {
    overflow-x: hidden;
  }
 }